.omd-sidebar {
  position: fixed;
  top: 0;
  @include ltr {
    left: 0;
  }
  @include rtl {
    right: 0;
    z-index: 99;
  }
  width: $sidebar-width;
  background-color: $sidebar-bg;
  height: 100vh;
  color: $sidebar-text-color;
  font-size: $sidebar-font-size;
  @include media-breakpoint-down(xs) {
    font-size: 0.6rem;
  }
  font-weight: 400;
  transition: width 0.3s ease-out;

  &__brand {
    height: $topbar-height;
    padding: 0 1.5rem;
    color: $white;
    background-color: $sidebar-darken-bg;
  }

  &__brand-link {
    font-size: 1.3rem;
    text-decoration: none;
    color: $white;
    @extend .showTextDelay;
  }

  &__brand-logo {
    width: 1.5rem;
    height: 1.5rem;
    @extend .showTextDelay;
  }

  &__menu-button {
    cursor: pointer;
    position: absolute;

    @include ltr {
      right: 1.1rem;
    }
    @include rtl {
      left: 1.1rem;
    }

    @include media-breakpoint-down(xs) {
      @include ltr {
        right: 1.3rem;
      }
      @include rtl {
        left: 1.3rem;
      }
    }

    svg {
      @include media-breakpoint-down(xs) {
        width: 1.2rem;
        height: 1.2rem;
      }
      @include rtl {
        margin-left: 0.3rem;
      }
      fill: $sidebar-darken-icon-color;
      transition: fill 0.3s ease;
      &:hover {
        fill: $sidebar-lighten-icon-color;
      }
    }
  }

  &__menu-wrapper {
    position: relative;
    width: 100%;
    margin: 1rem 0;
  }

  &__menu {
    padding: 1rem 0;
  }

  &__menu-section {
    height: 2.5rem;
    margin-top: 0.75rem;
    padding: 0.5rem 1.5rem;
  }

  &__menu-item {
    list-style: none outside none;
  }

  &__menu-link {
    display: flex;
    color: $sidebar-text-color;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    @include media-breakpoint-down(xs) {
      padding: 0 1.6rem;
    }
    cursor: pointer;
    min-height: 2.5rem;

    &--active,
    &:hover {
      text-decoration: none;
      color: $white;
      background: $sidebar-darken-bg;
      @include ltr {
        border-radius: 0 30px 30px 0;
      }
      @include rtl {
        border-radius: 30px 0 0 30px;
      }

      .omd-sidebar {
        &__menu-icon {
          svg {
            fill: $sidebar-lighten-icon-color;
          }
        }
        &__menu-arrow {
          i {
            color: $white;
          }
        }
      }
    }
  }

  &__menu-icon {
    float: left;
    margin-top: 0.55rem;
    @include ltr {
      margin-right: 0.5rem;
    }
    @include rtl {
      margin-left: 0.5rem;
    }
    // width: 1.2rem;
    // height: 1.2rem;
    transition: color 0.3s ease;

    svg {
      fill: $sidebar-darken-icon-color;
      transition: fill 0.3s ease;
      width: 14px;
      height: 14px;
    }
  }

  &__menu-text {
    display: flex;
    align-items: center;
    height: 2.5rem;
    @extend .showTextDelay;
  }

  &__menu-arrow {
    margin-top: 0.6rem;
    width: 1rem;
    height: 1rem;
    transition: color 0.3s ease;

    i {
      color: $sidebar-darken-icon-color;
      transition: transform 0.3s ease;
      font-size: 0.5rem;
    }

    &--expand {
      @include ltr {
        transform: rotate(-90deg);
      }
      @include rtl {
        transform: rotate(90deg);
      }
      transform-origin: center center;
      transition: transform 0.3s ease;
    }
  }

  &__subnav {
    padding: 0;
  }

  &__submenu-item {
    padding: 0 1rem;
    list-style: none outside none;

    &--active,
    &:hover {
      background: $sidebar-darken-bg;
      color: $white;
      @include ltr {
        border-radius: 0 30px 30px 0;
      }
      @include rtl {
        border-radius: 30px 0 0 30px;
      }
    }
  }

  &__submenu-link {
    display: flex;
    color: $sidebar-text-color;
    padding: 0 1.5rem;
    min-height: 2.5rem;
    text-decoration: none;

    .dash-bullet {
      @extend .showTextDelay;
    }

    &--active,
    &:hover {
      text-decoration: none;
      color: $white;
      background: $sidebar-darken-bg;

      .dash-bullet {
        background: $sidebar-lighten-icon-color !important;
      }
    }

    .dash-bullet {
      align-self: center;
      @include ltr {
        margin-right: 0.5rem;
      }
      @include rtl {
        margin-left: 0.5rem;
      }
      height: 1px;
      width: 5px;
      border: none;
      background: $sidebar-darken-icon-color;
      transition: background 0.3s ease;
    }
  }

  &__submenu-text {
    display: flex;
    align-items: center;
    height: 2.5rem;
    @extend .showTextDelay;
  }

  &__menu-section-text {
    color: $sidebar-darken-icon-color;
    align-items: center;
    font-size: $sidebar-font-size;
    font-weight: 400;
    @extend .showTextDelay;
  }

  [aria-expanded='true'] {
    background: $sidebar-darken-bg;
    @include ltr {
      border-radius: 0 30px 30px 0;
    }
    @include rtl {
      border-radius: 30px 0 0 30px;
    }

    .omd-sidebar {
      &__menu-icon {
        svg {
          fill: $sidebar-lighten-icon-color;
        }
      }
      &__menu-text,
      &__menu-arrow {
        i {
          color: $white;
        }
      }
    }
  }
}
