.omd-subheader {
  position: fixed;
  min-width: rem(252);
  z-index: z('subheader');
  top: 4rem;
  @include ltr {
    right: 0;
    left: 16.5rem;
  }
  @include rtl {
    left: 0;
    right: 16.5rem;
  }
  height: 3.3rem;
  background-color: $white;
  border-bottom: 1px solid $topbar-border-color;
  transition: left 0.3s ease-out;

  &__title {
    font-size: 0.8rem;
    @include media-breakpoint-up(sm) {
      font-size: 1rem;
    }
  }

  &__title-area {
    padding: 0.6rem 0.75rem !important;
    @include media-breakpoint-up(sm) {
      padding: 0.6rem 1.25rem !important;
    }
  }

  &--recalc-width {
    @include ltr {
      right: 0;
      left: 4.3rem;
    }
    @include rtl {
      left: 0;
      right: 4.3rem;
    }
  }

  &__date-dropdown {
    @include ltr {
      margin-left: auto;
    }
    @include rtl {
      margin-right: auto;
    }
  }

  &__date-btn {
    font-size: 0.6rem;
    @include media-breakpoint-up(sm) {
      font-size: 0.8rem;
    }
    @include ltr {
      border-radius: 0.25rem 0 0 0.25rem;
    }
    @include rtl {
      border-radius: 0 0.25rem 0.25rem 0;
    }
  }

  &__date-range-btn {
    font-size: 0.6rem;
    @include media-breakpoint-up(sm) {
      font-size: 0.8rem;
    }
    @include ltr {
      border-radius: 0 0.25rem 0.25rem 0;
    }
    @include rtl {
      border-radius: 0.25rem 0 0 0.25rem;
    }
  }

  &__date-range-menu {
    position: absolute;
    top: rem(53);
    right: rem(5);
    background: $white;
    padding: 20px;
    width: 220px;
    border-radius: 0.25rem;
    opacity: 0;
    display: none;

    &--show {
      display: block;
    }

    @include media-breakpoint-up(sm) {
      &--ultra-wide {
        width: rem(495);
      }
    }
    @include media-breakpoint-up(md) {
      &--ultra-wide {
        width: rem(690);
      }
    }
    // @include media-breakpoint-up(xl) {
    //   &--ultra-wide {
    //     width: rem(925);
    //   }
    // }

    .dropdown-item {
      font-size: 0.8rem;
      color: $gray;
    }
  }

  &__range-input {
    width: rem(80);
  }
}
