.omd-timeline {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    @include ltr {
      left: 3.85rem;
    }
    @include rtl {
      right: 3.85rem;
    }
    width: 0.214rem;
    top: rem(5);
    bottom: rem(5);
    background-color: gray('200');
  }

  &__items {
    position: relative;
    overflow: hidden;
    height: rem(400);
  }

  &__item {
    display: table;
    position: relative;
    margin-bottom: 1.75rem;

    &-time {
      display: table-cell;
      font-size: rem(16.9);
      font-weight: 500;
      vertical-align: top;
      position: absolute;
      padding-top: 0.3rem;
      color: gray('600');
    }

    &-circle {
      position: relative;
      border-radius: 50%;
      border: 0.89rem solid $white;
      z-index: 1;
      top: 0.2rem;

      @include ltr {
        left: 3.12rem;
      }
      @include rtl {
        right: 3.12rem;
      }

      i {
        font-size: rem(23.14);
        position: absolute;
        top: -0.69rem;

        @include ltr {
          left: -0.49rem;
        }
        @include rtl {
          right: -0.49rem;
        }
      }
    }

    &-text {
      display: table-cell;
      vertical-align: top;
      font-size: rem(13);

      @include ltr {
        padding: 0.48rem 0 0 4rem;
      }
      @include rtl {
        padding: 0.48rem 4rem 0 0;
      }

      text-align: justify;
      color: gray('600');
    }
  }
}
