// Loading Datatables style
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';

#sampleDataTable_paginate {
  padding: 0.6rem 1.25rem;
}

.omd-summary {
  &__icon-wrapper {
    position: absolute !important;
    top: 1rem;
    @include ltr {
      right: 0;
    }
    @include rtl {
      left: 0;
    }
  }
  &__icon {
    color: rgba(0, 0, 0, 0.1);
    font-size: 2rem;
  }
}
