/********************************
********** Typography ***********
********************************/
$dark-title: #434349;
$light-title: #959cb6;
$light-text: #74788d;

/********************************
******** General Sidebar ********
********************************/
$sidebar-width: 16.5rem;

/********************************
****** Sidebar Navigation *******
********************************/
$sidebar-minimized-width: 4.3rem;
$sidebar-darken-bg: darken(#1e1e2d, 2%);
$sidebar-bg: #1e1e2d;
$sidebar-text-color: #a2a3b7;
$sidebar-darken-icon-color: #4c4e6f;
$sidebar-lighten-icon-color: #5d78ff;
$sidebar-font-size: 0.81rem;

/********************************
************ Topbar *************
********************************/
$topbar-height: 4rem;
$topbar-text-color: #6c7293;
$topbar-border-color: #eff0f6;

/********************************
************ Footer *************
********************************/
$footer-height: 3.5rem;
